body {
    color: #696969;
}

.container {
    width: 1060px;
    margin: 0 auto;
    min-height: 100%;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}
img {
    width: 100%;
    display: block;
}

h5 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.02em;
}
h5.text-normal {
    font-weight: normal;
    text-transform: none;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 1.4em;
}
h5.text-normal:first-letter {
    text-transform: uppercase;
}
.left {
    float: left;
}

.title a {
    color: #FFFFFF;
}

.right {
    float: right;
}
.inline {
    display: inline-block;
}
.header-top {
    background-color: #423b36;
}

.header-inner {
    padding: 20px 0;
}
#toggle-search:hover {
    color: #1face2;
}
.header-search {
    border-width: 1px;
    border-style: solid;
    border-color: #eee;
    background-color: #fff;
    display: none;
}

.header-search-filter {
    position: relative;
    float: left;
    width: 134px;
    margin-top: 10px;
    border-right: 1px solid #eee;
}

.header-search-filter .jelect {
    margin-bottom: 0;
    vertical-align: middle;
    border: none;
}

.jelect {
    position: relative;
    display: inline-block;
    vertical-align: top;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    background: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #eee;
    color: #888;
    margin-bottom: 20px;
    padding: 0;
}

.jelect-input {
    display: none;
}

.header-search-filter .jelect-current, .header-search-filter .jelect-option {
    font-family: Montserrat;
    font-size: 11px;
    text-transform: uppercase;
}

.jelect-current:focus {
    outline: none;
}

.jelect-current {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 8px 33px 8px 16px;
    overflow-wrap: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #222;
    font-size: 12px;
    font-weight: 300;
}

.jelect-current:before {
    position: absolute;
    top: 0;
    left: 10px;
    bottom: 0;
    margin: auto;
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    content: '';
}

.jelect-current:after {
    position: absolute;
    top: 0;
    right: 12px;
    bottom: 1px;
    margin: auto;
    width: 0;
    height: 0;
    border-top: 5px solid #222;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    content: '';
}

.jelect-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    margin-top: 1px;
    display: none;
    max-height: 194px;
    overflow-y: auto;
    overflow-x: hidden;
    background: #fff;
    box-shadow: 0 0 0 1px #ccc, 0 2px 4px rgba(0, 0, 0, 0.25);
    padding-left: 0;
}

.header-search-form {
    float: right;
    width: 84%;
}

.product-search {
    position: relative;
}

input[type="search"] {
    -webkit-appearance: none;
}

.ui-btn-primary {
    background-color: #1face2;
}

.product-search-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 15px 16px;
    font-size: 13px;
}

.product-search-field {
    width: 100%;
    padding: 14px 100px 14px 10px;
    border: none;
}

.product-search-field:focus {
    outline-style: none;
}

.ui-btn-primary {
    color: #fff;
}

.ui-btn {
    padding: 18px 22px 15px;
    font-family: Montserrat;
    font-size: 11px;
    border: none;
    transition: all 0.3s;
    text-align: center;
    text-transform: uppercase;
}

ul, li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #696969;
}

.header-top ul {
    margin-top: 10px;
    padding: 0;
}

.header-top ul li {
    margin-right: 20px;
}

.header-top a {
    color: #aaa;
    font-size: 12px;
}

.header-top a:hover, .header-top a:focus {
    text-decoration: none;
    color: #FFFFFF;
}

.header-top i.fa {
    padding-right: 5px;
}

nav {
    overflow: hidden;
}

nav ul {
    margin-left: -40px;
    border-bottom: 1px solid #1face2;
    margin-bottom: 0;
}

nav ul li {
    margin-right: 25px;
    padding-bottom: 5px;
}

nav ul li.active, nav ul li:hover {
    border-bottom: 3px solid #1face2;
}

nav ul li:hover a {
    text-decoration: none;
}

nav ul li.last {
    float: right;
    margin-right: 5px;
}

nav ul li.last:hover, nav ul li.last:focus {
    border-bottom: none;
}

.main-slider {
    height: auto;
    position: relative;
    width: 100%;
}

ul li {
    display: inline-block;
}

.top-nav {
    margin-bottom: 15px;
}

.slider li {
    display: none;
}

.slider li.current {
    display: block;
    position: relative;
    width: 100%;
}
.slider p.title {
    background-color: #1face2;
    padding: 5px 15px;
    z-index: 2;
    position: absolute;
}

.slider img {
    display: block;
    width: 100%;
}

.slider p.content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    color: #FFFFFF;
    background-color: rgba(52, 52, 52, 0.37);
    font-size: 12px;
}

.slider .content a {
    display: block;
    color: #FFFFFF;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 13px;
}

.slider-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}
.slider-nav li.prev {
    position: absolute;
    left: 0;
    margin-left: 10px;
    top: 40%;
    display: none;
}

.slider-nav li.next {
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 40%;
    display: none;
}
.slider-nav:hover li.prev, .slider-nav:focus li.prev, .slider-nav:hover li.next, .slider-nav:focus li.next {
    display: block;
}
.slider-third {
    width: 48%;
    float: left;
    margin-top: 20px;
}
.slider-child div.slider-third:nth-child(2) {
    margin-right: 4%;
}

.slider-second .content span {
    height: 32px;
    overflow: hidden;
    display: block;
    width: 100%;
}
.slider-second .content span:after {
    content: "...";
}
.slider-third p.content {
    padding-bottom: 10px;
    padding-top: 10px;
}
.slider-third p.content a {
    height: 18px;
    overflow: hidden;
}

.slider-third p.content a:after {
    content: "...";
}

/* content */
section#content {
    margin-top: 20px;
}
h5.line-border {
    border-bottom: 1px solid #1face2;
    width: 100%;
    padding-bottom: 8px;
}
h5.line-border span {
    border-bottom: 3px solid #1face2;
    padding-bottom: 5px;
}

.wrapper li {
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    border-bottom: 1px solid #ccc;
}
.wrapper li:last-child {
    border-bottom: none;
}
.wrapper a:first-child {
    width: 50%;
    display: block;
}

.wrapper a img {
    float: left;
    margin-right: 10px;
}

.wrapper li p a {
    font-size: 13px;
    max-height: 36px;
    margin-top: 5px;
    display: block;
}
.wrapper li p a:after {
    content: "...";
}
.wrapper li p span {
    display: block;
    font-size: 12px;
    color: #1face2;
}
.meta {
    margin-bottom: 10px;
    display: block;
    line-height: 10px;
}
.meta i:last-child {
    float: right;
}
.meta i, .meta i a {
    display: inline-block;
    font-size: 12px;
    color: #1face2;
}
.meta i:before {
    margin-right: 5px;
}

.wrapper li .comment {
    font-size: 13px;
    margin-top: 22px;
    display: block;
}
.wrapper li .comment i {
    margin-right: 10px;
}
.block-content {
    margin: 15px 0 40px;
}
.social li {
    text-align: center;
    display: block;
    width: 33.33%;
    float: left;
    color: #FFFFFF;
    padding: 20px 0;
}
.social li:hover, .social li:focus {
    opacity: 0.7;
}
.social li a {
    color: #FFFFFF;
    font-size: 22px;
    margin-right: 5px;
}
.social li span {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.05em;
}
.social li.facebook {
    background-color: #316db7;
}
.social li.twitter {
    background-color: #17a8dd;
}
.social li.subscrible {
    background-color: #ff9204;
}
.block-sidebar {
    margin-bottom: 20px;
}
.block-scroll {
    overflow-y: scroll;
    height: 370px;
}
.block-scroll li {
    margin-right: 5px;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #1face2;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
    background-color: none;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
    background-color: #357ca5;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
#footer {
    background-color: #696969;
    color: #FFFFFF;
}