#container {
	width: 1060px;
	margin: 0 auto;
	min-height: 100%;
}
ul, li {
	list-style-type: none;
}
nav {
	overflow: hidden;
}
nav ul {
	margin-left: -40px;
	border-bottom: 1px solid #ea4748;
	padding-bottom: 10px;
}
nav ul li {
	display: inline-block;
}